* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-style: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    margin: 20px auto;
    width: 70%;
    /* height: 500px; */
    /* background-color: red; */
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float {
    float: left;
}

.col, .col-left {
    margin: 15px 10px 5px 0;
    width: 30%;
}

.col-left {
     margin-left: 35px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}
 /* img section  */
 .img {
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#img-1 {background-image: url('../img/1.webp');}
#img-2 {background-image: url('../img/2.webp');}
#img-3 {background-image: url('../img/3.webp');}
#img-4 {background-image: url('../img/4.webp');}
#img-5 {background-image: url('../img/5.webp');}
#img-6 {background-image: url('../img/6.webp');}

#img-1:hover {background-image: url('../img/1b.webp');}
#img-2:hover {background-image: url('../img/2b.webp');}
#img-3:hover {background-image: url('../img/3b.webp');}
#img-4:hover {background-image: url('../img/4b.webp');}
#img-5:hover {background-image: url('../img/5b.webp');}
#img-6:hover {background-image: url('../img/6b.webp');}

.photo-model img {
    display: none;
}
.discount, .sostenibility {
    color: white;
    display: inline;
    font-size: 10px;
    padding: 3px;
}

.discount {
    background-color: crimson;
    bottom: 10px;
    left: 0;
}

.sostenibility {
    background-color: green;
    bottom: 10px;
    left: 35px;
}
#sostenibility-only {
    bottom: 10px;
    left: 0%;
}
.heart {
    background-color: white;
    display: inline;
    padding: 10px;
    top: 10px;
    right: 0;
}

.heart a {
    color: black;
    text-decoration: none;
}

.heart a:hover {
    color: red;
    padding: 5px;
    text-decoration: none;
}

.marca {
    font-size: 10px;
    margin-top: 5px;
}
.dress-description {
     font-size: 0.7em;
     font-weight: bold;
     text-transform: uppercase;
     
}

.new-price {
    color: crimson;
    font-weight: bold;
    font-size: 0.8em;
}

.old-price {
    text-decoration: line-through;
    font-size: 0.8em;
}
